
project/chess_agents/__pycache__/

project/chess_engines/__pycache__/

project/chess_utilities/__pycache__/

project/examples/__pycache__/

.idea/

__pycache__/

.vscode/

*.cache

project/data/raw/

project/data/
